doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
		link(rel='stylesheet', href='dist/stylesheets/index.css')
		body
			main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)' alt="Bakgrunnsmynd af litríku polygonal mynstri")
				header
					h1 Sunnsteinn 
					h2
						p Velkomin á síðuna Sunnstein
						p Hér getur þú búið þér til þína eigin vefsíðu.
		.wrapper
			if data
				p Villa við auðkenningu
			if user
				if user.gender
					h3 Þú ert skráður inn sem #{user.username}
				else
					h3 Þú ert skráð inn sem #{user.username}
					if reqstatus === 0
						h3 Það eru engar vinabeiðnir eins og er.
					if reqstatus === 1
						h3 Þú ert með 1 vinabeiðni!
					if reqstatus > 1
						h3 þú ert með #{reqstatus} vinabeiðnir!
					if requests
						each u in requests
							p(name='nafn', class='nafn', value=u.friend)
								input(id='friendval' type='button', class="btn btn-success formButton", value='Samþykja #{u.friend}' name="Accept button")
								input(id='friendval' type='button', class="btn btn-danger formButton", value='Hunsa #{u.friend}' name="Accept button")
			else 
				fieldset
					form.form-horizontal(method="post")
						.form-group
							.col-md-2
								label(for='sitename') Notendanafn:	
							.col-md-10
								input(type="text" name="username" id="sitename" class="username")
						.form-group
							.col-md-2
								label(for='password') Lykilorð:
							.col-md-10
								input(type="password" name="password" id="password" class="password")
						.form-group
							.col-md-1
								input(type="submit" class="takki" name="Submit Button" )
		nav
			.sunn
				.steinn
					img#sunnsteinn(src="http://i.imgur.com/t4Fgcb8.png" alt="Logo sem mynd af SunnSteini")
			.ul
				li.heimlink
					a(href='/') Heim
				if user
					li.heimlink
						a(href='/profile') Um mig
					li.heimlink
						a(href='/search') Leita að vinum
					li.heimlink
						a(href='/find') Mínar síður
					li.heimlink
						a(href='/form') Ný síða
					li.heimlink
						a(href='/sida') Dæmi um síðu
					li.heimlink
						a(href='/friends') Vinir mínir
					li.heimlink
						a(href='/logout') Útskrá
				if !user
					li.heimlink
						a(href='/register') Nýskrá
					li.heimlink
						a(href='/sida') Dæmi um síðu

	
			script(src="/javascripts/frontend.js")
			script(src="/bower_components/jquery/dist/jquery.min.js")
