extends layout

block content
	head
		link(rel='stylesheet', href='dist/stylesheets/profile.css')
	body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
		.wrapper
			.middle-content
				.test
					img.img-circle(src=user.purl, id='profpic', alt='Mynd af mér, samt ekki')
					h1 #{user.name}
			.bottom-content
				section.review-section
					.flexbox
						.flex
							h2 Um mig
							p #{user.description}
						.flex
							h2 Hafðu samband
							p Notendanafn: #{user.username}
							p Símanúmer: #{user.phone}
							p Heimilisfang: #{user.adress}
							p Netfang: #{user.email}
				section.review-section
					.flexbox
						if friends
							.flex
								h2 Mínir vinir!
								each u in friends
									p #{u.friend}
						if sites
							.flex
								h2 Mínar Síður
									form(method="post")
										select(class="menu" name="val")
											each u in sites
												option(value=u.sitename class="option") #{u.sitename}
											input(type="submit" class="takki")
				
