extends layout

block content

	h1 #{user.name}
	.flexbox
		.flex
			img.bjarnamynd(src=user.purl, alt='Mynd af mér, samt ekki')
		.flex
			p Notendanafn: #{user.username}
			p Símanúmer: #{user.phone}
			p Heimilisfang: #{user.adress}
			p Netfang: #{user.email}
		if site
			form(method="post")
				select(class="menu" name="siteval")
					each u in site
						option(value=u.username) #{u.username}
					input(type="submit" class="takki")

