doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='dist/stylesheets/layout.css')
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
		body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Eyðublað
	.wrapper
		if villa
			p #{villa}
		form.form-horizontal(method="post")
			.form-group
				label.col-sm-2.control-label(for='name') Nafn:	
				.col-sm-10
					input#sitename(type="text" name="name" class="name" value=renderData.name)
			.form-group
				label.col-sm-2.control-label(for='username') Notendanafn:
				.col-md-10
					input#username(type="text" name="username" class="username" value=renderData.username)
			.form-group
				label.col-sm-2.control-label(for='pf') Prófíl mynd:
				.col-md-10
					input#name(type="text" name="pf" class="pf" value=renderData.pf)
			.form-group
				label.col-sm-2.control-label(for='adresse') Heimilisfang:
				.col-md-10
					input#background(type="text" name="adresse" class="adresse" value=renderData.home)
			.form-group
				label.col-sm-2.control-label(for='email') Netfang:
				.col-md-10
					input#subheader(type="text" name="email" clas="email" value=renderData.email)
			.form-group
				label.col-sm-2.control-label(for='pn') Símanúmer:
				.col-md-10
					input#pf(type="text" name="pn" class="pn" value=renderData.pn)
			.form-group
				label.col-sm-2.control-label(for='pw') Lykilorð:
				.col-md-10
					input#pf(type="text" name="pw" class="pw")
				.col-md-2
					input(type="submit" class="takki" )
	nav
		ul
			li.verkefnilink
				a(href='/') Heim
			li.heimlink
				a(href='/register') Nýskrá
			li.heimlink
				a(href='/sida') Dæmi um síðu
