doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='dist/stylesheets/layout.css')
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
		body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Nýskráning 
	.wrapper
		form.form-horizontal(method="post")
				.form-group(class=errors.name)
					label.col-md-3.control-label(for='name') Nafn:	
					.col-md-9
						input#name.form-control(type="text" name="name" class="name" value=renderData.name)
						if errors.name=='has-error had-feedback'
							span.help-block Vinsamlegast sláðu inn fullt nafn.
				if errors.username!='has-error had-feedback'&&errors.unique!='has-error had-feedback'
					.form-group(class=errors.username)
						label.col-md-3.control-label(for='username') Notendanafn:
						.col-md-9
								input#username.form-control(type="text" name="username" class="username" value=renderData.username)
				else
					.form-group(class='has-error had-feedback')
						label.col-md-3.control-label(for='username') Notendanafn:
						.col-md-9
								input#username.form-control(type="text" name="username" class="username" value=renderData.username)
								if errors.username == 'has-error had-feedback'
									span.help-block Notendanafn þarf að vera að minnsta kosti 3 stafir.
								if errors.unique == 'has-error had-feedback'
									span.help-block Notandi er núþegar til.
				.form-group(class=errors.pf)
					label.col-md-3.control-label(for='pf') Prófíl mynd:
					.col-md-9
						input#pf.form-control(type="text" name="pf" class="pf" placeholder="http://imgur.com/mynd.jpg" value=renderData.pf)
						if errors.pf == 'has-error had-feedback'
							span.help-block Vinsamlegast settu inn löggildan hlekk fyrir mynd.
				.form-group(class=errors.gender)
					label.col-md-3.control-label(for='gender') Kyn:
					.col-md-9
						.radio-inline
							input#gender(type="radio" name="gender" class="gender"  value="true") 
							| Karl
						.radio-inline
							input#gender(type="radio" name="gender" class="gender"  value="false") 
							| Kona
				.form-group(class=errors.description)
					label.col-md-3.control-label(for='description') Texti um þig:
					.col-md-9
						textarea#description.form-control(type="text" rows='7' name="description" class="description") #{renderData.description}
						if errors.description == 'has-error had-feedback'
							span.help-block Vinsamlegast sláðu inn lengri texta.
				.form-group(class=errors.home)
					label.col-md-3.control-label(for='adresse') Heimilisfang:
					.col-md-9
						input#home.form-control(type="text" name="adresse" class="adresse" value=renderData.home)
						if errors.home == 'has-error had-feedback'
							span.help-block Vinsamlegast sláðu inn rétt heimilisfang.
				.form-group(class=errors.email)
					label.col-md-3.control-label(for='email') Netfang:
					.col-md-9
						input#email.form-control(type="text" name="email" clas="email" value=renderData.email)
						if errors.email == 'has-error had-feedback'
							span.help-block Vinsamlegast sláðu inn rétt netfang.
				.form-group(class=errors.pn)
					label.col-md-3.control-label(for='pn') Símanúmer:
					.col-md-9
							input#pn.form-control(type="text" name="pn" class="pn" value=renderData.pn)
							if errors.pn == 'has-error had-feedback'
								span.help-block Vinsamlegast sláðu inn íslenskt símanúmer.
				.form-group(class=errors.pw)
					label.col-md-3.control-label(for='pw') Lykilorð:
					.col-md-9
						input#pw.form-control(type="text" name="pw" class="pw")
						if errors.pw == 'has-error had-feedback'
							span.help-block Lykilorð þarf að vera að minnsta kosti 5 stafir.
					.form-group
						.col-md-2
							input(type="submit" class="takki" )
	nav
		.sunn
			.steinn
				img#sunnsteinn(src="http://i.imgur.com/t4Fgcb8.png" name="Sunnsteinn Logo")
		.ul
			li.heimlink
				a(href='/') Heim
			li.heimlink
				a(href='/register') Nýskrá
			li.heimlink
				a(href='/sida') Dæmi um síðu
