doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='dist/stylesheets/layout.css')
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
		body
		main.top-content(style='background-image: url(http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg)')
			header
				h1 Eyðublað
	.wrapper
		form.form-horizontal(method="post")
			if !errors 
				.form-group
					label.col-md-3.control-label(for='name') Nafn:	
					.col-md-9
						input#name(type="text" name="name" class="name" value=renderData.name)
				.form-group
					label.col-md-3.control-label(for='username') Notendanafn:
					.col-md-9
						input#username(type="text" name="username" class="username" value=renderData.username)
				.form-group
					label.col-md-3.control-label(for='pf') Prófíl mynd:
					.col-md-9
						input#pf(type="text" name="pf" class="pf" value=renderData.pf)
				.form-group
					label.col-md-3.control-label(for='gender') Kyn:
					.col-md-9
						.radio-inline
							input#gender(type="radio" name="gender" class="gender"  value="true") 
							| Karl
						.radio-inline
							input#gender(type="radio" name="gender" class="gender"  value="false") 
							| Kona
				.form-group
					label.col-md-3.control-label(for='description') Texti um þig:
					.col-md-9
						textarea#description(type="text" rows='7' name="description" class="description") #{renderData.description}
				.form-group
					label.col-md-3.control-label(for='adresse') Heimilisfang:
					.col-md-9
						input#background(type="text" name="adresse" class="adresse" value=renderData.home)
				.form-group
					label.col-md-3.control-label(for='email') Netfang:
					.col-md-9
						input#subheader(type="text" name="email" clas="email" value=renderData.email)
				.form-group
					label.col-md-3.control-label(for='pn') Símanúmer:
					.col-md-9
						input#pn(type="text" name="pn" class="pn" value=renderData.pn)
				.form-group
					label.col-md-3.control-label(for='pw') Lykilorð:
					.col-md-9
						input#pw(type="text" name="pw" class="pw")
			if errors
				if errors.name
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='name') Nafn:	
						.col-md-9
							input#name.form-control(type="text" name="name" class="name" value=renderData.name)
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='name') Nafn:	
						.col-md-9
							input#name.form-control(type="text" name="name" class="name" value=renderData.namel)
							span.help-block Vinsamlegast sláðu inn fullt nafn.
				if errors.username&&errors.unique	
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='username') Notendanafn:
						.col-md-9
							input#username.form-control(type="text" name="username" class="username" value=renderData.username)
				else 
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='username') Notendanafn:
						.col-md-9
							input#username.form-control(type="text" name="username" class="username" value=renderData.username)
							if !errors.username
								span.help-block Notendanafn þarf að vera að minnsta kosti 3 stafir.
							else 
								span.help-block Þetta notendanafn er núþegar í notkun. 
				if errors.pf
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='pf') Prófíl mynd:
						.col-md-9
							input#pf.form-control(type="text" name="pf" class="pf" value=renderData.pf)
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='pf') Prófíl mynd:
						.col-md-9
							input#pf.form-control(type="text" name="pf" class="pf" value=renderData.pf)
							span.help-block Vinsamlegast settu inn hlekk fyrir mynd.
				.form-group.has-warning.had-feedback
					label.col-md-3.control-label(for='gender') Kyn:
					.col-md-9
						.radio-inline
							input#gender(type="radio" name="gender" class="gender"  value="true") 
							| Karl
						.radio-inline
							input#gender(type="radio" name="gender" class="gender"  value="false") 
							| Kona
				if errors.description
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='description') Texti um þig:
						.col-md-9
							textarea#description.form-control(type="text" rows='7' name="description" class="description") #{renderData.description}
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='description') Texti um þig:
						.col-md-9
							textarea#description.form-control(type="text" rows='7' name="description" class="description") #{renderData.description}
							span.help-block Textinn er ekki nægilega langur. 
				if errors.home
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='home') Heimilisfang:
						.col-md-9
							input#home.form-control(type="text" name="home" class="adresse" value=renderData.home)
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='adresse') Heimilisfang:
						.col-md-9
							input#home.form-control(type="text" name="home" class="adresse" value=renderData.home)
							span.help-block Vinsamlegast sláðu inn viðurkennt heimilisfang.
				if errors.email
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='email') Netfang:
						.col-md-9
							input#email.form-control(type="text" name="email" clas="email" value=renderData.email)
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='email') Netfang:
						.col-md-9
							input#email.form-control(type="text" name="email" clas="email" value=renderData.email)
							span.help-block Vinsamlegast sláðu inn viðurkennt netfang.
				if errors.pn
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='pn') Símanúmer:
						.col-md-9
							input#pn.form-control(type="text" name="pn" class="pn" value=renderData.pn)
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='pn') Símanúmer:
						.col-md-9
							input#pn.form-control(type="text" name="pn" class="pn" value=renderData.pn)
							span.help-block Vinsamlegast sláðu inn að minnsta kosti 7 tölustafa símanumer. 
				if errors.pw
					.form-group.has-success.had-feedback
						label.col-md-3.control-label(for='pw') Lykilorð:
						.col-md-9
							input#pw.form-control(type="text" name="pw" class="pw")
				else
					.form-group.has-error.had-feedback
						label.col-md-3.control-label(for='pw') Lykilorð:
						.col-md-9
							input#pw.form-control(type="text" name="pw" class="pw")
							span.help-block Lykilorðið þarf að vera að minnsta kosti 5 stafir.
			.form-group
				.col-md-offset-3.col-md-2
					input(type="submit" class="takki" )
				.col-md-offset-8
	nav
		ul
			li.verkefnilink
				a(href='/') Heim
			li.heimlink
				a(href='/register') Nýskrá
			li.heimlink
				a(href='/sida') Dæmi um síðu
