doctype html
html
	head
		title=title
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel='stylesheet', href='dist/stylesheets/layout.css')
		meta(name='viewport', content='width=device-width, initial-cale=1')
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Raleway|Bree+Serif', rel='stylesheet', type='text/css')
		link(rel='stylesheet', href='dist/stylesheets/styles.css')
		body
			nav
				ul
					li.verkefnilink
						a(href='/') Heim
					if username
						li.verkefnilink
							a(href='/profile') Um mig
						li.verkefnilink
							a(href='/search') Leita að vinum
						li.heimlink
							a(href='/find') Mínar síður
						li.heimlink
							a(href='/form') Ný síða
						li.heimlink
							a(href='/friends') Vinir mínir
						li.heimlink
							a(href='/logout') Útskrá
					if !username
						li.heimlink
							a(href='/register') Nýskrá
					li.heimlink
						a(href='/sida') Dæmi um síðu
			main.top-content(style='background-image: url(#{renderData.background})')
				header
					h1  #{renderData.name} 
					h2.subheader #{renderData.subheader}
		.wrapper
			.bottom-content
				.bear-section
					h3 #{renderData.name} 
					.flexbox
						.flex
							img.profilepic(src=renderData.pf, alt='Mynd af mér, samt ekki') 
						.flex
							p #{renderData.description}
				section.middle-section
					form(method="post")
						fieldset.form-group
							input(type='hidden' name='sitename' value= renderData.sitename)
							label(for="text") Skilaboð
							textarea#textarea.form-control(rows='5', placeholder='Skrifaðu hér til að skrifa á vegginn' name="text")
							input(type="submit" value="Skilja eftir skilaboð").form-control

					if entries
						each u in entries
							.list-group-item 
								h4 #{u.text}
								h5 #{u.username} skrifaði þann #{u.date} 

				section.review-section
					.flexbox
						.flex
						.flex
				.halfs
						.half1
							.mavadiv
						.half2


